.container{
    height: 200px;
    width: 200px;
    background-color: rgb(247, 251, 243);
    border: 1px solid rgb(196, 194, 194);
    padding-left: 70px;
}
.container img{
    height: 100px;
    width: 100px;
    align-items: center;
    padding-top: 10px;
}
.container button{
    height: 30px;
    width: 80px;
    border: 1px solid rgb(196, 194, 194);
    margin-top: 10px;
    align-items: center;
    color: aliceblue;
    border-radius: 10px;
    
    background-color: green;
}
.container button:hover{
    box-shadow: inset 0 0 5px rgb(196, 194, 194);
    cursor: pointer;
}